<!DOCTYPE html>
<html>
<head>
  <title>Movie Pong</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='https://fonts.googleapis.com/css?family=Codystar|Limelight|Graduate|Ruda:400,700,900' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
<!--   <meta content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" name="viewport" /> -->
  <meta name="viewport" content="width=device-width" user-scalable="no"/>

  <%= favicon_link_tag 'movie.ico' %>
</head>
<body>
  <%= render :partial => "layouts/header" %>
  <%= render :partial => "layouts/nav" %>
<%= yield %>
  <%= render :partial => "layouts/footer" %>

  <div id="myModal" class="reveal-modal medium">
    <h3 id= "modalText"></h3>
    <div id="modalScoreboard"><div class= "scoreboard"><%= render :partial => "layouts/scoreboard" %></div></div>
    <a href="/" class="button radius" id="play_again_btn">Play Again</a>

  </div>
  <%= render :partial => 'layouts/ga' if Rails.env == 'production' %>
  <script type="text/javascript">
    $(document).foundation();
  </script>
</body>
</html>
